<%- include('partials/head') %> <%- include('partials/navbar')%>
<h1>THIS IS A RANDOM NUMBER: <%= randNum %></h1>
<% if (randNum % 2 === 0){ %>
<h2>And it is an even number</h2>
<% } else { %>
<h2>And it is an odd number</h2>
<% } %>
<h3>
  <%= randNum % 2 === 0 ? `Double checking... yup it's even` : `Double
  checking... yup it's odd` %>
</h3>
<%- include('partials/footer')%>
